<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
  <title>Einhornkätzchen</title>
  <style>

    /* Demo styles */
    html,body{width:100%;height:100%;background:#222;margin:0;overflow:hidden}
    body{border-top:4px solid #000;}
    .content{width:100%;height:100%;color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;margin:20px auto;}
    h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
    p{margin:0 0 20px}
    a {color:#22BCB9;text-decoration:none;}
    .cred{margin-top:20px;font-size:11px;}

    #galleria{height:100%;width:100%}

    .galleria-stage {
      left: 0!important;
      right 0!important;
    }

    .galleria-theme-classic .galleria-info-text {
      padding: 8px 18px 8px 8px;
      display: block;
    }

    .galleria-theme-classic .galleria-info {
      top: 0;
      transform: translateX(-50%) scale(1.35);
      width: initial;
      left:50%;
    }

    .galleria-theme-classic .galleria-info-link {
      display: none;
    }

    .galleria-theme-classic .galleria-info-close {
      display: block;
    }

    .galleria-theme-classic .galleria-info-title {
      margin-bottom: 0;
    }

    .galleria-theme-classic .galleria-stage, .galleria-thumbnails-container, .fa {
      overflow: visible;
      transition: 800ms, linear;
    }


    .galleria-theme-classic.full .galleria-thumbnails-container {
      transform: translateY(50px);
    }

    .galleria-theme-classic.full .galleria-stage .fa {
      transform: rotate(180deg) translate(50%, -50px);
    }

    #date {
      position: absolute;
      font: bold 12px/1.1 arial,sans-serif;
      top: 0;
      right: 0;
      z-index: 5;
      color: white;
      margin: 15px;
    }

    .galleria-theme-classic .galleria-stage .fa {
      position: absolute;
      bottom: 0;
      color: white;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: -10px;
      z-index:5;
      cursor: pointer;
      opacity: 0.4;
    }

    .galleria-theme-classic img {
      width: auto!important;
      left: 50%!important;
      transform: translateX(-50%)!important;
    }

  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/galleria/1.4.2/galleria.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
<body>
  {{{body}}}

  <div id="date"></div>

  <script>

$('img').lazyload();
// Load the classic theme
Galleria.loadTheme('/lib/galleria.classic.min.js');


function calcIndex() {
  var i = parseInt(location.hash.substr(1));
  if (isNaN(i) || i < 0 || i > {{episodes.length}}) {
    i = {{episodes.length}};
}
return i;
}

var index = calcIndex()-1;
Galleria.configure({
  show: index
});




function hashNav(e) {
  var i = calcIndex();
  location.hash='#'+i;
  i-=1;
  if (gal._active !== i) {
    gal.show(i);
  }
}

function dblclick(e) {
  $(e.imageTarget).on('dblclick', function() {
    gal.toggleFullscreen();
  });
  setTimeout(function() {
    window.onhashchange = hashNav;
  },50);
}

function patchNav(old) {
  return function() {
    window.onhashchange = null;
    old();
  }
}


var animateOpt = {
  duration: 400,
  specialEasing: {
    height: 'linear',
    marginBottom: 'linear',
    'margin-bottom': 'linear'
  }
};

function getCorrectSize(reverse) {
  var condition = $('.galleria-theme-classic').hasClass('full');
  condition = reverse ? !condition : condition;
  if (condition) {
    return (parseInt($('.galleria-stage').css('height'))+50)+'px';
  } else {
    return $('.galleria-stage').css('height');
  }
}

function fixImageSize() {
  setTimeout(function() {
    var size = getCorrectSize();
    $('.galleria-images .galleria-image').css('height',size);
    $('.galleria-images .galleria-image img').css('height',size);
  }, 150);
}

Galleria.ready(function(options) {
  var dateDiv = $('#date');
  $('.galleria-stage').append('<i class="fa fa-angle-double-down"></i>');
  $('.galleria-theme-classic .fa-angle-double-down').on('click', function() {
    var theme = $('.galleria-theme-classic');
    var size = getCorrectSize(true);
    if (theme.hasClass('full')) {
      $('.galleria-stage .galleria-counter').animate({
        marginBottom: 0
      }, animateOpt);
    } else {
      $('.galleria-stage .galleria-counter').animate({
        marginBottom: '-50px'
      }, animateOpt);
    }
    $('.galleria-images .galleria-image').animate({
      height: size
    }, animateOpt);
    $('.galleria-images .galleria-image img').animate({
      height: size
    }, animateOpt);
    theme.toggleClass('full');
  });
  gal = this;
  this.prev = patchNav(this.prev.bind(this));
  this.next = patchNav(this.next.bind(this));
  $('.galleria-info-text').off('click');
  this.attachKeyboard({
    left: this.prev,
    right: this.next,
    13: function() {
      gal.toggleFullscreen();
    }
  });
  this.bind('fullscreen_enter', fixImageSize);
  this.bind('fullscreen_exit', fixImageSize);
  this.bind("loadfinish", dblclick);
  this.bind('loadstart', function(e) {
    dateDiv.text($(e.galleriaData.original).data('date'));
    window.onhashchange = null;
    location.hash='#'+parseInt(e.index+1);
  });
});

// Initialize Galleria
Galleria.run('#galleria', {
  image_pan: true
});

setTimeout(function() {
  var stageDiv = $('.galleria-stage');
  $('.galleria-thumbnails-container').on('touchstart touchend touchmove', function(e) {
    console.log(e);
    stageDiv.trigger(e);
  });
}, 1000);



  </script>
</body>
</html>
