<div id="galleria">
    {{#each episodes}}
    <a href="/episodes/{{this}}">
        <img 
             src="/episodes/{{this}}",
             data-big="/episodes/{{this}}"
             >
    </a>
    {{/each}}
</div>