<script>
var images = [];
{{#each episodes}}
images.push({
  original: '/episodes/pictures/{{this.file}}',
  thumbnail: '/{{this.file}}?thumb=100x100',
  text: '{{this.text}}'
});
{{/each}}
</script>
<div id="main"></div>
