   <div id="galleria">
    {{#each episodes}}
    <a href="/episodes/pictures/{{this}}">
        <img 
             src="/episodes/pictures/{{this}}",
             data-big="/episodes/pictures/{{this}}"
             >
    </a>
    {{/each}}
</div>