<script>
var images = [];
{{#each episodes}}
images.push({
  original: '/episodes/pictures/{{this.file}}',
  thumbnail: '/{{this.file}}?thumb=100x100',
  text: `{{this.text}}`
});
{{/each}}
function flattrFoo() {
(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=einhornkaetzchen&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattr');
}
</script>
<div id="main"></div>
