<script>
var images = [];
{{#each episodes}}
images.push({
  original: '/episodes/pictures/{{this.file}}',
  thumbnail: '/episodes/pictures/{{this.file}}',
  text: `{{this.text}}`
});
{{/each}}
</script>
<div id="main"></div>
